<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>
<body>

<!-- preloader area start -->
<div class="preloader" id="preloader">
    <div class="preloader-inner">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
</div>
<!-- search popup area start -->
<div class="search-popup" id="search-popup">
    <form action="../index.html" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search.....">
        </div>
        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- //. search Popup -->
<div class="body-overlay" id="body-overlay"></div>

<!-- topbar end-->
<div class="topbar-area">
    <div th:replace="~{commons/admin-commons::topbarend}"></div>
</div>
<!-- topbar end-->



<!-- navbar start -->
<div class="navbar-area">
    <div th:insert="~{commons/admin-commons::topbar}"></div>
</div>
<!-- navbar end -->

<!-- contact area Start -->
<div class="contact-area pd-top-50 pd-bottom-80">
    <div class="container">
        <div class="row">
            <div class="breadcrumb-inner">
                <i class="fa fa-home"></i>
                <ul class="page-list">
                    <li><a href="@{index.html">主页</a></li>
                    <li>添加用户</li>
                </ul>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                        <form th:action="@{/toAddAdmin}" method="post">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">昵称</label>
                                <div class="col-sm-10">
                                    <input type="isbn" class="form-control" id="name" placeholder="name" name="manager_name" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputphone3" class="col-sm-2 control-label">电话号码</label>
                                <div class="col-sm-10">
                                    <input type="phone" class="form-control" id="inputphone3" placeholder="phone" name="manager_phone" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pw" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-10">
                                    <input type="pw" class="form-control" id="pw" placeholder="pw" name="manager_pw" required>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label>管理员等级</label><br>
                                <select class="form-control" name="manager_grade">
                                    <option text="二级管理员" th:text="2">2</option>
                                    <option text="三级管理员" th:text="3">3</option>
                                </select>
                            </div><br><br><br>

                            <button type="submit" class="btn btn-primary">添加</button>
                            <button type="reset" class="btn layui-btn-danger">重置</button>


                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact area End -->



<!-- back to top area start -->
<div class="back-to-top">
    <span class="back-top"><i class="fa fa-angle-double-up"></i></span>
</div>
<!-- back to top area end -->


<!-- all plugins here -->
<div th:replace="~{commons/commons::js}"></div>
</body>
</html>