<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personal.moyilin.mapper.OrderMapper">
    <!--获得全部订单-->
    <select id="allOrder" resultType="Order">
        SELECT * FROM v_order
    </select>

    <select id="allOrderById" resultType="Order">
        SELECT * FROM t_order where user_id=#{id}
    </select>
<!--******************获得最后一个******************-->
    <select id="orderGetEndOne" resultType="Order">
        SELECT * FROM v_order_endone
    </select>
<!--获得指定编号的订单-->
    <select id="orderById"  resultType="Order">
        select * from v_order where order_id =#{id}
    </select>

    <select id="loginByPhone"  resultType="Order">
        select * from t_order where order_phone =#{phone}
    </select>
<!--***********************插入订单****************************************-->
    <insert id="addOrder" parameterType="Order">
        insert into t_order (order_id,user_id,order_time,order_total,order_price)
        values(#{order_id} ,#{user_id} ,#{order_time} ,#{order_total} ,#{order_price} )
    </insert>

    <update id="updateOrder" parameterType="Order">
        update t_order set order_name=#{order_name} ,order_sex=#{order_sex} ,order_birth=#{order_birth} ,
                          order_phone=#{order_phone} ,order_email=#{order_email} ,order_image=#{order_image} ,order_pw=#{order_pw}
        where order_id = #{order_id}
    </update>

    <delete id="deleteOrder" parameterType="int">
        delete from t_order where order_id =#{id}
    </delete>

    <!--模糊查询-->
    <select id="searchOrder" resultType="Order">
        call select_order( #{time},#{id} )
    </select>

</mapper>