<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--<代码复用/组件-->
<!-- navbar start 顶部菜单/导航栏-->
<nav class="navbar navbar-expand-lg" th:fragment="topbar">
    <div class="container nav-container">
        <div class="responsive-mobile-menu">
            <div class="logo d-lg-none d-block">
                <a class="main-logo" th:href="@{/adminbook}">网上书店销售系统</a>
            </div>
            <button class="menu toggle-btn d-block d-lg-none" data-target="#miralax_main_menu"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-left"></span>
                <span class="icon-right"></span>
            </button>
        </div>
        <div class="nav-right-part nav-right-part-mobile">
            <a class="cart-header" href="#"><img th:src="@{/assets/img/icon/cart.png}" alt="img"><span>5</span></a>
            <a class="search header-search" href="#"><i class="fa fa-search"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="miralax_main_menu">
            <ul class="navbar-nav menu-open">
                <li class="menu-item-has-children current-menu-item">
                    <a href="#">信息界面</a>
                    <ul class="sub-menu">
                        <li><a th:href="@{/adminbook}">书籍管理</a></li>
                        <li><a th:href="@{/getSort}">书籍分类管理</a></li>
                        <li><a th:href="@{/getAllOrder}">订单管理</a></li>
                        <li><a th:href="@{/adminUser}">用户管理（二级以上）</a></li>
                        <li><a th:href="@{/allAdmin}">管理员管理（超级）</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children current-menu-item">
                    <a href="#">添加界面</a>
                    <ul class="sub-menu">
                        <li><a th:href="@{/toAddBook}">添加书籍</a></li>
                        <li><a th:href="@{/toAddBookSort}">添加书籍分类</a></li>
                        <li><a th:href="@{/toAddUser}">添加用户（二级以上）</a></li>
                        <li><a th:href="@{/toAddAdmin}">添加管理员（超级）</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/admin}">更换账号登录</a></li>


            </ul>
        </div>
        <div class="nav-right-part nav-right-part-desktop">
            <a th:href="@{/toUpUserByUser}"><img src="/assets/img/author/f4.png" class="layui-nav-img" onerror="this.src='/assets/img/author/f4.png';this.onerror=null"></a>
            <a th:href="@{/endAdmin}"><i class="layui-icon layui-icon-logout"  style="font-size: 24px; color: #00acee;"></i></a>&nbsp;&nbsp;
        </div>
    </div>
</nav>

<!--顶部标签-->
<!-- topbar end-->
<div class="container" th:fragment="topbarend">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-7 align-self-center">
            <div class="topbar-left text-md-left text-center">
                <ul>
                    <li th:if="${session.loginAdmin ne null}">[[${session.loginAdmin}]]你好ฅ(๑ ̀ㅅ ́๑)ฅ</li>
                    <li th:if="${session.loginAdmin eq null}">请登录</li>
                </ul>
                <span>  </span>
            </div>
        </div>
        <div class="col-lg-6 col-md-5 text-md-right text-center">
            <div class="topbar-right">

            </div>
        </div>
    </div>
</div>


<!-- footer area start -->
<div th:fragment="footerarea">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <h5 class="widget-title">Quick Links</h5>
                    <div class="widget widget_link">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy & Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Affiliate Program</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <h5 class="widget-title">Popular Posts</h5>
                    <div class="widget widget_link">
                        <ul>
                            <li><a href="#">Celebrity News</a></li>
                            <li><a href="#">Movies</a></li>
                            <li><a href="#">TV News</a></li>
                            <li><a href="#">Music News</a></li>
                            <li><a href="#">Style News</a></li>
                            <li><a href="#">Entertainment Video</a></li>
                            <li><a href="#">Design Website</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-md-4 col-sm-6">
                    <h5 class="widget-title">International</h5>
                    <div class="widget widget_link">
                        <ul>
                            <li><a href="#">Executive</a></li>
                            <li><a href="#">Senate</a></li>
                            <li><a href="#">House</a></li>
                            <li><a href="#">Judiciary</a></li>
                            <li><a href="#">Foreign policy</a></li>
                            <li><a href="#">Polls</a></li>
                            <li><a href="#">Elections</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <h5 class="widget-title">Quick Links</h5>
                    <div class="widget widget_link">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy & Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Affiliate Program</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                    <div class="widget widget_post_list">
                        <h5 class="widget-title">Latest Posts</h5>
                        <div class="media-post-wrap media">
                            <div class="thumb">
                                <img th:src="@{/assets/img/footer/1.png}" alt="img">
                            </div>
                            <div class="media-body">
                                <h6><a href="#">Nothing impossble to need hard work</a></h6>
                                <div class="meta">
                                    <div class="date">
                                        12 Jun 2020
                                    </div>
                                    <div class="author">
                                        <a href="#">Rt Shuvro</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-post-wrap media">
                            <div class="thumb">
                                <img th:src="@{/assets/img/footer/2.png}" alt="img">
                            </div>
                            <div class="media-body">
                                <h6><a href="#">Nothing impossble to need hard work</a></h6>
                                <div class="meta">
                                    <div class="date">
                                        12 Jun 2020
                                    </div>
                                    <div class="author">
                                        <a href="#">Rt Shuvro</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-post-wrap media">
                            <div class="thumb">
                                <img th:src="@{/assets/img/footer/3.png}" alt="img">
                            </div>
                            <div class="media-body">
                                <h6><a href="#">Nothing impossble to need hard work</a></h6>
                                <div class="meta">
                                    <div class="date">
                                        12 Jun 2020
                                    </div>
                                    <div class="author">
                                        <a href="#">Rt Shuvro</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7 align-self-center">
                    <div class="footer-logo">
                        <img th:src="@{/assets/img/logo-2.png}" alt="img">
                    </div>
                    <ul class="footer_menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Advertisement</a></li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-5 text-lg-right">
                    <div class="footer-subscribe-inner">
                        <input type="text" placeholder="Email address">
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 align-self-center">
                    <ul class="privacy-menu">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-6 text-lg-center align-self-center">
                    <p>Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                </div>
                <div class="col-xl-4 text-xl-right text-xl-center">
                    <ul class="social-area social-area-2">
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



</html>