<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>
<body>

<div th:replace="~{commons/commons::search}"></div>

<!-- topbar end-->
<div class="topbar-area">
    <div th:replace="~{commons/commons::topbarend}"></div>
</div>
<!-- topbar end-->



<!-- navbar start -->
<div class="navbar-area">
    <div th:insert="~{commons/commons::topbar}"></div>
</div>
<!-- navbar end -->

<!-- contact area Start -->
<div class="contact-area pd-top-50 pd-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-inner">
                    <i class="fa fa-home"></i>
                    <ul class="page-list">
                        <li><a href="../index.html">Home</a></li>
                        <li>注册</li>
                    </ul>
                </div>
                <div class="contact-area-wrap">
                    <div class="row">
                        <div class="col-lg-3">

                        </div>
                        <div class="col-lg-6" align="center">
                            <h3>手机注册</h3>
                            <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                            <form class="contact-form"  th:action="@{/toRegPhone}" method="post">
                                <div class="single-input-wrap input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="名字" name="user_name">
                                </div>
                                <div class="single-input-wrap input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="layui-icon layui-icon-cellphone"></i></div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="手机" name="user_phone">
                                </div>
                                <div class="single-input-wrap with-select">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-cog"></i></div>
                                    </div>
                                    <select name="user_sex">
                                        <option>性别</option>
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                </div>
                                <div class="single-input-wrap input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="layui-icon layui-icon-menu-fill"></i></div>
                                    </div>
                                    <input type="password" class="form-control" placeholder="密码" name="user_pw">
                                </div>
                                <button type="submit" class="btn">立刻注册</button>
                                <button type="reset" class="btn layui-btn-danger">重置</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact area End -->




<!-- back to top area start -->
<div class="back-to-top">
    <span class="back-top"><i class="fa fa-angle-double-up"></i></span>
</div>
<!-- back to top area end -->


<!-- all plugins here -->
<div th:replace="~{commons/commons::js}"></div>
</body>
</html>