<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>
<style>
    body{
        background:#333300;

    }
    #a{
        border-top:30px solid transparent;
        border-bottom:30px solid transparent;
        border-left:30px solid transparent;
        border-right:30px solid transparent;
    }
    #b{
        border-top:30px solid transparent;
        border-left:30px solid transparent;
    }
    #c{
        border-left:60px solid transparent;
    }
    #d{
        border-left:20px solid transparent;
    }
    .btn2{
        background:#99ff00;
        left:100px;
    }


</style>
<body>

<div th:replace="~{commons/commons::search}"></div>

<!-- topbar end-->
<div class="topbar-area">
    <div th:replace="~{commons/commons::topbarend}"></div>
</div>
<!-- topbar end-->



<!-- navbar start -->
<div class="navbar-area">
    <div th:insert="~{commons/commons::topbar}"></div>
</div>
<!-- navbar end -->
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">


        <div class="layui-row grid-demo">
            <div class="layui-col-md2 layui-col-lg-offset2">
                <div class="layui-card">
                    <div class="thumb">
                        <img width="190px" height="246px" id="a" th:src="${onebook.getBook_image()}" alt="这里是图片">
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="thumb">
                        <h2 id="b">[[${onebook.getBook_name()}]]
                            <a  th:href="@{/toSearchBook/{name}(name=${onebook.getBook_author()})}" id="c" ><i class="layui-icon layui-icon-username" style="font-size:50%;">[[${onebook.getBook_author()}]] 著</i> </a></h2><br>

                        <a  id="d"  th:href="@{/toSearchBook/{name}(name=${onebook.getBook_pub()})}">[[${onebook.getBook_pub()}]] [[${onebook.getBook_time()}]]日出版</a><br><br>
                        <!--<div class="layui-btn-container">-->
                        <p> &nbsp 分类标签：<a  th:href="@{/getBook/{id}(id=${oneid})}"><button class="btn2 layui-btn layui-btn-radius " th:text="${onename}" ></button></a></p><br>
                        <p><i class="layui-icon layui-icon-face-smile-b" ></i>售价:[[${onebook.getBook_price()}]]RMB
                            <i class="layui-icon layui-icon-prev" ></i>
                            <i class="layui-icon layui-icon-face-surprised-b" ></i>已售:[[${onebook.getBook_num()}]]本
                            <i class="layui-icon layui-icon-fire" ></i>
                            <a class="layui-btn  layui-btn-normal " th:href="@{/toAddCart/{id}(id=${onebook.getBook_id()})}" >加入购物车<i class="layui-icon layui-icon-cart" ></i></a>
                            <p style="color: chartreuse" th:text="${cartUpdateTip}" th:if="${not #strings.isEmpty(cartUpdateTip)}"></p>
                        </p>


                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md6 layui-col-lg-offset2" >
            <div class="layui-card">
                <div class="layui-card-header">作品信息</div>
                <div class="layui-card-body" th:text="${onebook.getBook_outline()}">

                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">作者信息</div>
                <div class="layui-card-body">
                    <h3><a  th:href="@{/toSearchBook/{name}(name=${onebook.getBook_author()})}">[[${onebook.getBook_author()}]]</a></h3>
                   <h4>作品总数</h4>
                    <i class="layui-icon layui-icon-file" th:text="${onesize}"></i>
                </div>
            </div>
        </div>

    </div>
</div>





<div th:replace="~{commons/commons::js}"></div>
</body>
</html>